<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/logo.png" alt="Logo" height="70"> <!-- Substitua pelo caminho correto da logo -->
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="produtosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Gerenciar Cliente</a>
            <ul class="dropdown-menu" aria-labelledby="produtosDropdown">
              <li><a class="dropdown-item" routerLink="/pages/clientes/cadastro">Cadastrar Cliente</a></li>
              <li><a class="dropdown-item" routerLink="/pages/clientes/consulta">Consultar Cliente</a></li>
            </ul>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Fazer Login</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-light" href="#">Comece Agora</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  